PORT=3344

# POSTGRES
DB_PORT=5432
DB_NAME=graduation_project_db
DB_USER=postgres
DB_PASSWORD=postgres
CONTAINER_NAME=graduation_project_postgres
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/graduation_project_db"

# QDRANT
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=replace-me
QDRANT_COLLECTION=textbook_chunks

# OLLAMA
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llama3.1
OLLAMA_EMBED_MODEL=all-minilm

# MONGODB
MONGO_PORT=27017
MONGO_CONTAINER_NAME=graduation_project_mongodb
MONGO_INITDB_ROOT_USERNAME=mongo
MONGO_INITDB_ROOT_PASSWORD=mongo
MONGO_INITDB_DATABASE=graduation_project_mongodb

# AUTH
JWT_SECRET="replace-me"
JWT_EXPIRES_IN="1d"
